.mainbody{
    background-color: grey !important;
    width:300px;
    border: 2px solid black;
    border-collapse: collapse;
    text-align: center;
    font-size: large;
    font-style: oblique;
    font-family: Georgia, 'Times New Roman', Times, serif;

}
.head{
    background-color:white;
}
.mainbody td{
    border:2px solid black;
}
.mainbody tr{
    border: 2px solid black;
    
}



